body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 30%;
    max-width: 40%;
}

.version {
    position: absolute;
    margin: auto;
    top: 5%;
}

.nuvoni {
    width: 10%;
    position: absolute;
    bottom: 5%;
    right: 5%;
}
